<div class="content" id="divForm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-category z-depth-4">
                    <div class="card-header">
                        <button type="button" ng-click="closeCategoryForm()"
                                class="waves-teal waves-effect btn btn-small pull-right monit-color btn-size"><span
                                class="fa fa-close white-text"></span></button>
                        <h5 class="title">Cadastro de Categoria</h5>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <form name="form" class="col s12" ng-submit="saveCategory()" novalidate>
                                <div class="row">
                                    <small class="input-field col s6">
                                        <input id="name" name="name" type="text" ng-model="category.name"
                                               ng-minlength=4 ng-maxlength=15 class="validate" required>
                                        <label ng-class="isEdit ? 'active' : ''" for="name">Nome</label>
                                        <div ng-show="form.name.$invalid && form.$submitted">
                                            <div class="red-text">
                                                <div ng-show="form.name.$error.required">Campo Obrigatório!</div>
                                                <div ng-show="form.name.$error.minlength">Mínimo 4 caracteres!</div>
                                                <div ng-show="form.name.$error.maxlength">Máximo 15 caracteres!</div>
                                            </div>
                                        </div>
                                    </small>
                                    <div class="input-field col s6">
                                        <button type="submit"
                                                class="waves-teal waves-effect btn oqfazer-color pull-right "><i
                                                class="fa fa-check"></i> Salvar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>