<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card z-depth-4">
                    <div class="card-header">
                        <a class="pull-right right" href="" ng-click="showCategoryForm()"><i class="fa fa-plus white-text"
                                                                                         aria-hidden="true"></i></a>
                        <h5 class="title">Categoria</h5>
                        <p class="category">Lista de categorias</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-responsive">
                            <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Descricao</th>
                                <th>Pai</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="category in categories" ng-if="categories.length > 0">
                                <td>{{category.name}}</td>
                                <td>{{category.description}}</td>
                                <td>{{category.parent.name}}</td>
                                <td>
                                    <button ng-click="deleteCategory(category)" type="submit"
                                            class="btn-floating btn waves-effect waves-light red darken-2 pull-right">
                                        <span class="fa fa-trash"></span></button>
                                    <button ng-click="editCategory(category)" type="submit"
                                            class="btn-floating btn waves-effect waves-light monit-color pull-right">
                                        <span class="fa fa-pencil"></span></button>
                                </td>
                            </tr>
                            <tr ng-if="categories.length == 0">
                                <td colspan="5" class="semRegistros">
                                    <p>Sem Registros</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>