<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#!">
                        Home
                    </a>
                </li>
            </ul>
            <ul class="pull-right">
                <a>
                    <a href="https://www.linkedin.com/in/thiagolsfortunato/"> 2018 - OqFazer - Thiago Luis Silva Fortunato</a>
                </a>
            </ul>
        </nav>
    </div>
</footer>
