<footer class="footer">
    <div class="container-fluid">
        <nav class="oqfazer-color">
           <div class="pull-right side-footer">
                <a> 2018 @ OqFazer - T. Fortunato</a>
                <a href="https://www.facebook.com/thiagolsfortunato" target="_blank"><img src="src/img/facebook-24.png" alt=""></a>
                <a href="https://www.linkedin.com/in/thiagolsfortunato/" target="_blank"><img src="src/img/linkedin-24.png" alt=""></a>
           </div>
        </nav>
    </div>
</footer>
