<ul id="dropdown2" class="dropdown-content dropdown-font-size">
    <li>
        <a class="dropdown-font-size" ui-sref="home.category">Categorias</a>
    </li>
    <li>
        <a ui-sref="home.city">Cidades</a>
    </li>
    <li>
        <a ui-sref="home.event">Eventos</a>
    </li>
    <li>
        <a ui-sref="home.region">Regiões</a>
    </li>
    <li>
        <a ui-sref="home.user">Usuários</a>
    </li>
</ul>

<ul id="dropdown1" class="dropdown-content dropdown-font-size">
    <li ng-if="!logged">
        <a ui-sref="login">Login</a>
    </li>
    <li ng-if="logged">
        <a ui-sref="home.profile">Meu Perfil</a>
    </li>
    <li ng-if="logged">
        <a href="" ng-click="logOut()">Logout</a>
    </li>
</ul>

<nav class="oqfazer-color">
    <div class="nav-wrapper">
        <ul class="hide-on-med-and-down font-hastoler">
            <li class="pull-left">
                <a id="logo-header" href="#!">OqFazer?</a>
            </li>
            <li class="right">
                <a class="dropdown-button" href="" data-activates="dropdown1" data-beloworigin="true"><img src="../../src/img/login.png" ><i class="mdi-navigation-arrow-drop-down right"></i></a>
            </li>
            <li ng-if="logged">
                <a ui-sref="home.events" ng-click="myEvents()">Meus Eventos</a>
            </li>
            <li ng-if="logged">
                <a ui-sref="home.events" ng-click="myParticipations()">Minhas Participações</a>
            </li>
            <li ng-if="logged && isAdmin">
                <a class="dropdown-button" data-activates="dropdown2"  data-beloworigin="true">Cadastros<i class="mdi-navigation-arrow-drop-down right"></i></a>
            </li>
        </ul>
    </div>
</nav>