<div class="content" id="divForm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card z-depth-4">
                    <br><br>
                    <div class="card-content">
                        <div class="row">
                            <form name="form" class="col s12">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <div class="card-menu">
                                            <a ui-sref="home.event">
                                                <div class="card-menu-color">
                                                    <h5 class="title">Eventos</h5>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="input-field col s6">
                                        <div class="card-menu">
                                            <a ui-sref="home.category">
                                                <div class="card-menu-color" >
                                                    <h5 class="title">Categorias</h5>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <div class="card-menu">
                                            <a ui-sref="home.city">
                                                <div class="card-menu-color" >
                                                    <h5 class="title">Cidades</h5>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="input-field col s6">
                                        <div class="card-menu">
                                            <a ui-sref="home.region">
                                                <div class="card-menu-color" >
                                                    <h5 class="title">Regiões</h5>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <div class="card-menu">
                                            <a ui-sref="home.user">
                                                <div class="card-menu-color" >
                                                    <h5 class="title">Usuários</h5>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="input-field col s6">
                                        <div class="card-menu">
                                            <a href="" ng-click="logout()">
                                                <div class="card-menu-color" >
                                                    <h5 class="title">Sair</h5>
                                                    <p class="category">Encerrar  operação</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>