<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card z-depth-4">
                    <div class="card-header" >
                        <button class="waves-teal waves-effect btn btn-small btn-size pull-right right" href="" ng-click="showUserForm()"><i class="fa fa-plus white-text" aria-hidden="true"></i></button>
                        <h5 class="title">Usuários</h5>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-responsive">
                            <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Username</th>
                                <th>Celular</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="userView in users">
                                <td>{{userView.name}}</td>
                                <td>{{userView.email}}</td>
                                <td>{{userView.username}}</td>
                                <td>{{userView.phone}}</td>
                                <td>
                                    <button ng-click="deleteUser(userView)" type="submit" ng-class="userForm || userView.loged  ? 'disabled' : ''"
                                            class="btn-floating btn waves-effect waves-light red darken-2 pull-right"><span class="fa fa-trash"></span></button>
                                    <button ng-click="editUser(userView)" type="submit" ng-class="userForm ? 'disabled' : ''"
                                            class="btn-floating btn waves-effect waves-light monit-color pull-right"><span class="fa fa-pencil"></span></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>