<div class="content" id="divForm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card z-depth-4">
                    <div class="card-header">
                        <div ng-show="logged">
                            <button type="button" ng-click="closeUserForm()"
                                    class="waves-teal waves-effect btn btn-small pull-right btn-size"><span
                                    class="fa fa-close white-text"></span></button>
                        </div>
                        <h5 class="title">Formulário de Cadastro</h5>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <form name="form" class="col s12" ng-submit="saveUser()" novalidate>
                                <div class="row">
                                    <small class="input-field col s6">
                                        <input id="name" name="name" type="text" ng-model="user.name"
                                               ng-minlength=4 ng-maxlength=15 class="validate" required>
                                        <label ng-class="isEdit ? 'active' : ''" for="name">Nome</label>
                                        <div ng-show="form.name.$invalid && form.$submitted">
                                            <div class="red-text">
                                                <div ng-show="form.name.$error.required">Campo Obrigatório!</div>
                                                <div ng-show="form.name.$error.minlength">Mínimo 4 caracteres!</div>
                                                <div ng-show="form.name.$error.maxlength">Máximo 15 caracteres!</div>
                                            </div>
                                        </div>
                                    </small>
                                    <small class="input-field col s6">
                                        <input id="email" name="email" type="email"
                                               ng-model="user.email"
                                               class="validate" not-empty required>
                                        <label ng-class="isEdit ? 'active' : ''" for="email">Email</label>
                                        <div ng-show="form.email.$invalid && form.$submitted">
                                            <div class="red-text">
                                                <div ng-show="form.email.$error.required">Campo Obrigatório!</div>
                                                <div ng-show="form.email.$error.email">Email Inválido!</div>
                                            </div>
                                        </div>
                                    </small>
                                    <small class="input-field col s6">
                                        <input id="username" name="username" type="text"
                                               ng-model="user.username" ng-minlength=4 ng-maxlength=15 class="validate"
                                               required>
                                        <label ng-class="isEdit ? 'active' : ''" for="username">Username</label>
                                        <div ng-show="form.username.$invalid && form.$submitted">
                                            <div class="red-text">
                                                <div ng-show="form.username.$error.required">Campo Obrigatório!</div>
                                                <div ng-show="form.username.$error.minlength">Mínimo 4 caracteres!</div>
                                                <div ng-show="form.username.$error.maxlength">Máximo 15 caracteres!</div>
                                            </div>
                                        </div>
                                    </small>
                                    <small class="input-field col s6">
                                        <div ng-if="isEdit">
                                            <input id="passwordEdit" name="password"
                                                   type="password"
                                                   ng-minlength=6 ng-model="user.password" class="validate">
                                            <label for="passwordEdit">Password</label>
                                        </div>
                                        <div ng-if="!isEdit">
                                            <input id="password" name="password" type="password"
                                                   ng-minlength=6 ng-model="user.password" class="validate"
                                                   required>
                                            <label for="password">Password</label>
                                            <div ng-show="form.password.$invalid && form.$submitted">
                                                <div class="red-text">
                                                    <div ng-show="form.password.$error.minlength">Mínimo 6 caracteres!
                                                    </div>
                                                    <div ng-show="form.password.$error.required">Campo Obrigatório!
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p></p>
                                    </small>
                                </div>
                                <div class="row">
                                    <small class="input-field col s6">
                                        <input id="phone" name="phone" ui-mask="(99)99999-9999" type="text"
                                               ng-model="user.phone" ng-minlength=10 ng-maxlength=11 class="validate"
                                               required>
                                        <label for="phone" class="active">Celular</label>
                                        <div ng-show="form.phone.$invalid && form.$submitted">
                                            <div class="red-text">
                                                <div ng-show="form.phone.$error.required">Campo Obrigatório!</div>
                                                <div ng-show="form.phone.$error.minlength">Mínimo 13 caracteres!</div>
                                                <div ng-show="form.phone.$error.maxlength">Máximo 14 caracteres!</div>
                                            </div>
                                        </div>
                                    </small>
                                    <div class="input-field col s6">
                                        <button type="submit"
                                                class="waves-teal waves-effect btn oqfazer-color pull-right "><i
                                                class="fa fa-check"></i> Salvar
                                        </button>
                                    </div>
                                    <div class="input-field col s6">
                                        <button type="button" ng-if="!logged"
                                                class="waves-teal waves-effect btn pull-right" ui-sref="login">
                                            Voltar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>